@font-face {
	font-family:'hws';
	src: url('hws.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body{
	display: flex;
	justify-content: center;
	background-color: #93c7d0;
}
#box:hover{
	transform: scale(1.05,1.05);
}
#box{
	margin-top: 13px;
	border-radius: 36px;
	display: flex;
	height:830px;
	width: 1000px;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	transition: 1s;
	background-image: linear-gradient(
		180deg,
		#FFFFFF 0%,
		rgba(255,255,255,0) 100%
		);
	box-shadow: 60px 60px 800px 0 rgba(0, 0, 0, 0.5);
}
#sboxleft{
	border-radius: 36px 0px 0px 36px;
	display: flex;
	height: 830px;
	width: 275px;
	background: linear-gradient(
		0deg, 
		rgba(67,216,205,0.01) 2%,
		rgba(47,185,202,0.3) 100%
	);
	order: 0;
	align-self: flex-start;
	flex-wrap: wrap;
}
#c{
	height: 200px;
	width: 200px;
	margin-left: 40px;
	margin-top: 20px;
	align-self:center;
}
#p{
	margin-left: 85px;
	color: rgba(0, 0, 0, 0.87);
	font-family: consolas;
	font-size: 40px;
}
#text{
	font-size: 40px;
	color: #db5a6b;
	font-family: hws;
}
#i{
	font-size: 40px;
	color: #db5a6b;
	font-size: 40px;
	font-size: 40px;
	color: #db5a6b;	
	color: #db5a6b;
}
#weaminmax{
	font-size: 29px;
	color: #db5a6b;
	font-family: hws;
}
#sbox1{
	border-radius:  0px 36px 0px 0px;
	order: 1;
	height: 175px;
	width: 725px;
}
#sbox2{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	order: 2;
	height: 325px;
	width: 725px;
}	
#sbox3{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	border-radius: 0px 0px 36px 0px;
	order: 3;
	height: 330px;
	width: 725px;
}
#temp{
	font-size: 40px;
	color: rgba(0, 0, 0, 0.87);
	font-family: hws;
}
.s1{
	margin-left: 17px;
	padding-top: 50px;
	font-size: 40px;
	font-family: hws;
	color: rgba(0, 0, 0, 0.87);
}
.s2{
	margin-left: 17px;
	margin-top: 35px;
	font-size: 40px;
	font-family: hws;
	color: rgba(0, 0, 0, 0.87);
}
#d1{
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	margin-left: 55px;
	margin-right: 30px;
}
#d2{
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	margin-left: 55px;
	margin-right: 30px;
}
#d3{
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	margin-left: 55px;
	margin-right: 30px;
}
#i1{
	font-size: 100px;
	color: #db5a6b;
}
#i2{
	font-size: 100px;
	color: #db5a6b;
}
#i3{
	font-size: 100px;
	color: #db5a6b;
}
.textfc{
	margin-left: 15px;
	font-family: hws;
	font-size: 30px;
	color: rgba(0, 0, 0, 0.87);
}
#nowtemptext{
	font-family: hws;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.45);
}
#hz{
	font-size: 50px;
}
.sbox{
	background: linear-gradient(
	0deg, 
	rgba(67,216,205,0.01) 2%,
	rgba(47,185,202,0.3) 100%
	);
}
